/* styles.css */

body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.skill-card {
    width: 200px; /* Adjust the width of the card */
    height: 200px; /* Adjust the height of the card */
    margin: 10px; /* Adjust the margin */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.skill-card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.skill-card h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.skill-card p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}

.skill-card ul {
    margin-top: 5px;
    padding-left: 0;
}

.skill-card li {
    font-size: 12px;
    list-style-type: none;
    text-align: center;
}
