/* styles.css */

body {
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark text color */
}

.jumbotron {
    background-color: #343a40; /* Dark background for the jumbotron */
}

.card {
    background-color: #343a40; /* Dark background for the skill cards */
    color: #fff; /* Light text color */
    width: 30%; /* Adjust the width of the card */
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s; /* Add transition for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.card:hover {
    transform: scale(1.05); /* Add hover effect */
}

.card-img-top {
    width: 100%; /* Make image responsive */
    height: auto;
}

.card-body {
    text-align: center; /* Center align text */
    padding: 10px;
}
