/* styles.css */

body {
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark text color */
}

.jumbotron {
    background-color: #343a40; /* Dark background for the jumbotron */
}

.card {
    background-color: #343a40; /* Dark background for the skill cards */
    color: #fff; /* Light text color */
}

.card-img-top {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
